.box {
  height: 3rem;
  width: 3rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 11;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}



.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  height: 3rem;
  position: relative;
}

.btn span {
  height: 0.3rem;
  width: 2rem;
  background-color: black;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}


.btn.active span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
}

.btn.active span:nth-child(2) {
  opacity: 0;
}

.btn.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
}


.navRight.open {
  right: 0;
  /* Visible */
}

@media screen and (width < 1000px) {
  .box {
    display: block;
  }

  .navRight {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    background-color: red;
    width: 100%;
    max-width: 350px;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: sans-serif;
    transition: right 1s;
  }

  /* Responsive */
@media screen and (max-width: 900px) {
  .projectsContainer {
    flex-direction: column;
    align-items: center;
  }

  .projectCard {
    width: 80%;
  }
}
}
@media screen and (max-width: 800px) {
  .contactContainer {
    flex-direction: column;
  }
}


@media screen and (width < 700px) {
  #about {
    height: fit-content;
  }

  .aboutBottom {
    flex-direction: column;
    /* background-color: red; */
  }

  .aboutBottomRight {
    /* background-color: rebeccapurple; */
    width: 100%;
    align-items: flex-start;
    align-self: flex-start;
  }
}
